version: '3.8'

services:
  api:
    build:
      context: .
    container_name: projeto-integrador-backend-ctx-badge
    ports:
      - 8080:8080

    environment:
      DB_URL: jira.senacrio.com.br
      DB_PORT: 3306
      DB_DATABASE: bdacompanhamento
      DB_USERNAME: ads
      DB_PASSWORD: adsads
      CONNECTION_POOL_MAX_SIZE: 2
      CONNECTION_POOL_MIN_SIZE: 5